@{
    ViewBag.Title = "Slowly Plus";
}


<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <!-- Icon or Image (you can replace this with your own) -->
            <img src="~/images/Paywall.png" alt="Icon" class="img-fluid" style="max-width: 60%;">
        </div>
        <div class="card-body">
            <!-- Text content -->
            <h3>Slowly Plus</h3>
            <p>No active subscription</p>
        </div>
        <div class="card-footer">
            <!-- Button -->
            <button class="btn btn-primary">Upgrade Now</button>
        </div>
    </div>
</div>