@{
    ViewData["Title"] = "Profile";
}

<div class="container-fluid">
    <div class="row">
        <!-- Left Sidebar (Bootstrap) -->
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active profile-sidebar-link" href="#" data-view="_Profile">
                            Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link profile-sidebar-link" href="#" data-view="_TopicOfInterests">
                            Topic of Interests
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link profile-sidebar-link" href="#" data-view="_Languages">
                            Languages
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link profile-sidebar-link" href="#" data-view="_MatchingPreferences">
                            Matching Preferences
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link profile-sidebar-link" href="#" data-view="_ExcludedTopics">
                            Excluded Topics
                        </a>
                    </li>
              @*       <li class="nav-item">
                        <a class="nav-link profile-sidebar-link" href="#" data-view="_ExcludedRegions">
                            Excluded Regions
                        </a>
                    </li> *@
                    <li class="nav-item">
                        <a class="nav-link profile-sidebar-link" href="#" data-view="_SlowlyPlus">
                            Slowly Plus
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link profile-sidebar-link" href="#" data-view="_Settings">
                            Settings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link profile-sidebar-link" href="#" data-view="_HiddenUsers">
                            Hidden Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link profile-sidebar-link" href="#" data-view="_RemovedUsers">
                            Removed Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link profile-sidebar-link" href="#" data-view="_AboutSlowly">
                            About Slowly
                        </a>
                    </li>
                    <!-- Add other sidebar options here -->
                </ul>
            </div>
        </nav>

        <!-- Right Content Area (Responsive) -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <!-- Partial view content will be loaded here -->
            <div id="partialContainer"></div>
        </main>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Load the default view (_Profile) when the page loads
            loadPartial('_Profile');

            // Handle sidebar link clicks
            $('.profile-sidebar-link').on('click', function (e) {
                e.preventDefault();
                var viewName = $(this).data('view');
                loadPartial(viewName);
            });

            // Function to load partial views using AJAX
            function loadPartial(partialName) {
                var url = '@Url.Action("LoadPartial", "Profile")?partialName=' + partialName;

                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (result) {
                        $('#partialContainer').html(result);
                    }
                });
            }
        });
    </script>
}
